@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./font-face.css";
@import "./prose.css";
@import "./variables.css";

body {
  color: theme("colors.default");
  background-color: theme("colors.white");
  font-family: theme("fontFamily.default");
  text-rendering: optimizeLegibility;
}
